.sidebar {
    border: 1px solid red;
}

.menu h1 {
    font-size: 20px;
    color: #555;
    text-align: center;
    position: relative;
    bottom: 20px;
}

.menu img {
    height: 200px;
    width: 100%
}

.menu .post {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
    gap: 10px;
}

.menu .post h2 {
    font-size: 20px;
    font-weight: bold;
}

.menu .post button {
    border: 1px solid gray
}